body {
  background: #d5e1ef;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 152px;
}

.card-container {
  width: 320px;
  height: 497px;
  background-color: white;
  border-radius: 20px;
  padding-top: 1px;
}

.qr-code-container {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  background: #2c7dfa;
  margin: 15px 16px;
  padding-top: 1px;
  position: relative;
}

.qr-code img {
  margin: 63px 64px;
  position: absolute;
  z-index: 2;
}

.text-container {
  font-family: "Outfit";
}
.heading {
  font-size: x-large;
  font-weight: 700;
  margin: 0px 16px 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1f314f;
}

.description {
  margin: 15px 30px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: #7d889e;
}

.top-circle img {
  position: absolute;
  border-radius: 10px 0 0 0;
  /* height: 162px; */
  top: 0;
}

.bottom-circle img {
  position: absolute;
  top: 204px;
  right: 0px;
  border-radius: 0 0 10px 0;
}
